@model CRM.Core.ViewModels.Abstract.ViewModelBase
@{
    if (Model.Errors.Count > 0)
    {
        <div class="alert alert-danger" role="alert">
            <ul class="m-0">
                @foreach (var errorDesc in Model.Errors)
                {
                    <li>@errorDesc</li>
                }
            </ul>
        </div>
    }
}